@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700)
@import font-awesome
@import mixins
@import noise
@import theme

body
  :overflow-x hidden
.bg
  :background #eee
  :height 600px
  :-webkit-transform rotate(-45deg)
  :z-index -1
  :position absolute
  :top 0
  :left -1300px
  :width 4000px

.btn-circle
  [class*=icon]
    :float left
    :display inline
    :margin-right 10px
  :margin-bottom 10px
.logo
  :margin-top 23px
  :margin-bottom 20px
  :font-size 56px
  :width 2em
  :height 2em
  .q1,.q2,.q3,.q4
    :float left
    position: relative
.q1
  width: 0
  height: 0
  border-bottom: 0.5em solid #81C8F1
  border-left: 0.4em solid transparent
  border-right: 0.6em solid #81C8F1
  &:after
    content: ""
    position: absolute
    top: -0.05em
    left: -0.48em
    width: 0
    height: 0
    z-index: -1
    border-bottom: 0.55em solid #fff
    border-left: 0.45em solid transparent
    border-right: 0.63em solid #fff

.q2
  width: 0
  height: 0
  border-bottom: 0.5em solid #1FA1C5
  border-right: 0.4em solid transparent
  border-left: 0.6em solid #1FA1C5
  &:after
    content: ""
    position: absolute
    top: -0.05em
    left: -0.6em
    width: 0
    height: 0
    z-index: -1
    border-bottom: 0.55em solid #fff
    border-right: 0.45em solid transparent
    border-left: 0.63em solid #fff

.q3
  width: 0
  height: 0
  border-top: 1.5em solid #55BAED
  border-left: 1em solid transparent
  &:after
    content: ""
    position: absolute
    top: -1.5em
    left: -1.08em
    width: 0
    height: 0
    z-index: -1
    border-top: 1.6em solid #fff
    border-left: 1.08em solid transparent

.q4
  width: 0
  height: 0
  border-top: 1.5em solid #32799B
  border-right: 1em solid transparent
  &:after
    content: ""
    position: absolute
    top: -1.5em
    left: 0em
    width: 0
    height: 0
    z-index: -1
    border-top: 1.6em solid #fff
    border-right: 1.08em solid transparent
.i
  $size: 0.3em
  top: 0.25em
  left: 0.45em
  position: relative
  width: $size*3.7
  height: $size*2
  &:before, &:after
    background: rgba(#F00,0.5)
    content: ""
    position: absolute
    top: 0
    left: 0
    width: $size
    height: $size
    border: $size/2.5 solid #fff
    border-radius: $size $size 0 $size
    -webkit-transform: rotate(-45deg)
  &:after
    left: auto
    right: 0
    border-radius: $size $size $size 0
    -webkit-transform: rotate(45deg)



body
  font-family: 'Source Sans Pro', Ubuntu
  background-color: #f2f2f2
  color: #333
  -webkit-user-select: none
nav
  :z-index 2
  :top 30px
  :left 0
  :width 18%
  :padding 10px
  h1
    a
      :font-size 30px
    :margin 0
      :bottom 20px
  a
    :font-size 16px
    color: #514C3D
    :text-decoration none
  ul
    :margin 0
    :padding 0
    :list-style none
    li + li
      :margin-left 20px
    li
      :line-height 24px
      &.right
        :float right

.class
  :padding-bottom 50px
  &:hover
    h2 [class*=icon]
      :color rgba(#514C3D, 1)
  .panel, .method
    :-webkit-transition-duration 400ms
    :-webkit-transform-origin top center
  :position absolute
  :top 30px
  :left 18%
  :right 0
  &:target
    :z-index 1
    .panel, .method
      :-webkit-transition-delay 200ms
      :opacity 1
      :-webkit-transform rotateX(0)
    @for $i from 1 through 200
      .method:nth-child(#{$i})
        :-webkit-transition-delay 200ms + $i*50

  &:not(:target)
    .panel, .method
      :-webkit-transform perspective(1000) rotateX(90deg)
      :opacity 0
    @for $i from 1 through 200
      .method:nth-child(#{$i})
        :-webkit-transition-delay 1ms * $i*50
    :z-index 0

#console
  :position fixed
  :bottom 50px
  :left 50%
  :margin-left -200px
  :overflow hidden
  :padding 15px 0
  :line-height 28px
  :text-align center
  :color #eee
  :width 400px
  :-webkit-transition-duration 320ms
  :pointer-events none
  :z-index 10
  :background-image -webkit-linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.8))
  :box-shadow 0 0 25px rgba(0,0,0,0.4), 0 0 20px rgba(0,0,0,0.6) inset
  :border 3px solid rgba(#000,0.9)
  :border-radius 5px
  :background-clip padding-box
  &.hidden
    :opacity 0

.content
  :width 75%
  :min-width 900px
  :margin 0 auto
  :position relative

.circle
  :box-sizing border-box
  :width 114px
  :height 114px
  :font-size 50px
  :background-color #e8e6dc
  :text-align center
  :border-radius 50%
  :border 7px solid #d4d0be
  :line-height 100px
  :box-shadow 0 0 10px #eceae3 inset
  :-webkit-transition-duration 320ms
  :color #514C3D

.clear
  :clear both

p
  :margin 10px 0

.panel
  :position relative
  :background-color rgba(#fff,0.8)
  :border-radius 5px 5px 0 0
  :padding 10px 20px

span
  &.fn
    :color #259c55
  &.prop
    :color #30a4ba
  &.self
    :color #D4642A
  &.new
    :color #A82DA1
.method
  :font-size 14px
  :background-color rgba(#fff,0.4)
  :margin-top 3px
  code.js
    :display none
  pre
    code
      :font-family 'Ubuntu Mono', sans-serif
    :float right
    :width 350px
    :padding 0 10px
    :border-left 1px solid rgba(0,0,0,0.07)
    :margin 0
    :font-size 14px
  :padding 10px 20px
  :position relative
  :-webkit-transition-duration 200ms
  &:hover
    :-webkit-transition-delay 0ms !important
    :background-color rgba(#fff,0.5)
    [class*=icon]
      :opacity 1
  [class*=icon]
    :cursor pointer
    &:hover
      :color #514C3D
    &:before
      :color inherit
    :color rgba(#514C3D,0.5)
    :right -37px
    :-webkit-transition-duration 200ms
    :opacity 0
    :position absolute
    :border-left 1px solid #ddd
    :text-align center
    :line-height 34px
    :width 36px
    :height 36px
    :background-color rgba(#fff,0.4)
  &:last-child
    :border-radius 0 0 5px 5px
  .icon-link
    :border-radius 0 0 5px 0
    :top 37px
  .icon-play
    :border-radius 0 5px 0 0
    :top 0

.class
  :border-radius 5px

h3
  :margin 10px 0
h2
  :margin 15px 0
h2 [class*=icon]
  @extend .circle
  :color rgba(#514C3D, 0.5)
  :position absolute
  :top -30px
  :right -30px
  :border none
  :font-size 35px
  :width 80px
  :height 80px
  :line-height 80px
  background-color: #f2f2f2
  :box-shadow none
