!!!
%head
  %script{:src => "https://www.google.com/jsapi", :type => "text/javascript"}
  %script{:src => "/crystal", :type => "text/javascript"}
  %script{:src => "/js/dashboard", :type => "text/javascript", app: true}
  %link{rel: "stylesheet", href: "/style/dashboard", app: true}
  %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}
%body
  %button Add RSS
  .warpper
