!!!
%head
  %script{:src => "/crystal", :type => "text/javascript"}
  %script{:src => "/js/ui", :type => "text/javascript", app: true}
  %link{rel: "stylesheet", href: "/style/ui", app: true}
  %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}
  :javascript
    window.onload = function(){todoapp()}
%body
  %section{app: 'todo'}
    .todo
      .menu
        .wrap
          %input#text{type: 'text',placeholder: 'What needs to be done?'}
          %input#add{type: 'button', value: 'add'}
          %i.icon-sort
          %i.icon-remove
      #list
      .item{hidden: true}
        %div
          %i.icon-ok
          %span.text
          %i.icon-remove
          %i.icon-chevron-up
          %i.icon-chevron-down
        %div
          %input{type: 'text'}